
  h1 {
    color: dodgerblue;
  }

  * {
    border:white;
  }
  .site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    padding-left: 1cm;
  }
  .header{
      background-color:#e1f2ff;
      display: flex;
      justify-content:  space-between;
  }
  .grid{
      background-color: rgb(154, 234, 240);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 0.5cm;
  }
  .Origami{
    margin:0.5cm;
    padding:0.5cm;
    background-color:#ffda  

  }
  .body{
    margin:0px
  }
  .Origami:any-link{
    text-decoration: dotted
  }
  .menu{
    border-radius: 2cm;
    border:red;
  }
  a:link{
    color: rgb(4, 202, 202);
  }
  a:visited{
    color: darkcyan;
  }
  .Origami:hover{
    transform: scale(1.2);
  }
  img{
    position: relative;
  }
  p{
    position: absolute;
  }